@tailwind base;
@tailwind components;
@tailwind utilities;
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.fc-daygrid-day-top {
  display: flex;
  flex-direction: row !important;
}

.fc-toolbar-chunk {
  display: flex;
}

.fc-header-toolbar {
  width: 25%;
}
.fc-h-event {
  background-color: transparent;
  border-color: transparent;
  display: block;
}

@layer base {
  html {
    font-family: Poppins;
    -webkit-font-smoothing: 'antialiased';
    -webkit-text-size-adjust: '100%';
  }
  [dir='rtl'] html {
    font-family: 'Cairo';
  }
  :root {
    --primary-orange: 34 94% 50%;
    --primary-blue: 220, 38%, 29%;
    --primary-gold: 40 55% 46%;
    --primary-dark: 209 77% 10%;
    --primary-red: 0 55% 46%;
    --primary-default: 200 94% 21%;
    --primary-100: 212 100% 96%;
    --primary-200: 208 91% 72%;
    --primary-300: 220 38% 29%;

    --gradient-first: #d1dfea;
    --gradient-second: #75a8d2;
    --first: 207, 36%, 87%;
    --third: 207, 51, 64;
    --second: 9, 21, 26;
    --background: 220, 33%, 95%;
    --foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 215, 13%, 54%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --progress-bar-primary: 220 38% 29%;
    --progress-bar-secondary: 0, 15%, 92%, 0.688;
    --primary: 220 38% 29%;
    --primary-foreground: 210 40% 98%;
    --secondary: 200, 90%, 65%;
    --secondary-foreground: 222.2 47.4% 80.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
    --first: hsl(207, 51%, 64%);
    --second: hsl(32, 58, 67);
    --third: hsl(206, 37, 87);
    /* New Colors */

    --accent-blue: #abcaf8;

    --semantic-success-500: #2d9b6d;
    --semantic-success-400: #0dbf76;
    --semantic-success-300: #41e29b;
    --semantic-success-200: #96d8b0;
    --semantic-success-100: #d2eee1;

    --semantic-warning-500: #ca6218;
    --semantic-warning-400: #f68524;
    --semantic-warning-300: #feb342;
    --semantic-warning-200: #f8deab;
    --semantic-warning-100: #ffe1c6;

    --semantic-danger-500: #c62d2c;
    --semantic-danger-400: #eb3c2d;
    --semantic-danger-300: #eb3c2d;
    --semantic-danger-200: #f8abab;
    --semantic-danger-100: #ffdcd9;

    --semantic-info-500: #6469d4;
    --semantic-info-400: #7177fc;
    --semantic-info-300: #9296ff;
    --semantic-info-200: #e2befe;
    --semantic-info-100: #d4d6ff;

    --neutral-100: #f9fafc;
    --neutral-200: #edf0f6;
    --neutral-300: #eeeeee;
    --neutral-400: #dddddd;
    --neutral-500: #cccccc;
    --neutral-600: #999999;
    --neutral-700: #666666;
    --neutral-800: #333333;

    --muted: 210 40% 96.1%;
    --muted-foreground: 213, 10%, 64%, 0.85;
    --overlay: hsla(0, 0%, 40%, 0.4);
  }
  .dark {
    --primary-100: 209 47% 45%;
    --primary-200: 209 28% 65.35%;
    --primary-300: 198, 44%, 11%;
    --gradient-first: #040d11;
    --gradient-second: #35525f;
    /* Gradient */
    --first: #040d11;
    --third: #35525f;
    --second: rgb(9, 21, 26);
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 224, 28%, 32%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 217, 19%, 42%;
    --card: 225 41% 13%;
    --card-foreground: 213 31% 91%;
    --primary: 230 53% 36%;
    --primary-foreground: 240, 22%, 92%;
    /* (222.2 47.4% 11.2%); */
    /* --secondary: 207 100 59; */
    --secondary: 209, 36%, 16%;
    --secondary-foreground: 209 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }
  .orange {
    --primary-100: 46 100% 96%;
    --primary-200: 44 98% 76%;
    --primary-300: 34 94% 50%;
    --primary-foreground: 34 22% 92%;
    /* Gradient */
    --s: hsl(206, 37%, 87%);
    --se: hsl(207, 51%, 64%);
    --first: hsl(207, 51%, 64%);
    --second: hsl(32, 58, 67);
    --third: hsl(206, 37, 87);
  }
  .blue {
    --primary-100: 212 100% 96%;
    --primary-200: 212 98% 76%;
    --primary-300: 212 94% 50%;
    --primary-foreground: 212, 22%, 92%;
    --first: hsl(207, 51%, 64%);
    --second: hsl(32, 58, 67);
    --third: hsl(206, 37, 87);
  }
  .gold {
    --primary-100: 40 85% 96%;
    --primary-200: 40 68% 73%;
    --primary-300: 40 55% 46%;
    --primary-foreground: 40, 22%, 92%;
    --muted-foreground: 214, 20.55%, 90.98%, 0.85;
    --primary: 39.38 78.05% 67.84%;
    --primary-foreground: 0 0 0;
  }
  .red {
    --primary-100: 0 85% 96%;
    --primary-200: 0 68% 73%;
    --primary-300: 0 55% 46%;
    --primary-foreground: 40, 58%, 23%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:'rlig' 1, 'calt' 1;
  }
}
